<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="~{base :: head}"></head>
	
	<body onload="loadVue()">
		<div th:replace="~{base :: logo}"></div>
		<div class="container" id="ofertas">
			<div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>
			<div class="card mb-3 mt-3" v-for="pedido in pedidoList">
				<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-8 mb-3">
							<div class="row">
								<div class="col-md-5">Valor: <input /></div>
								<div class="col-md-7">Data da entrega: <input /></div>
							</div>
							<div>Produto</div>
							<div><a class="link-info text-decoration-none" v-bind:href="pedido.urlProduto">{{pedido.nomeProduto}}</a></div>
							<div>Descrição</div>
							<div>
								<textarea class="form-control">{{pedido.descricao}}</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" v-bind:src="pedido.urlImagem"/>			
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</body>

</html>